$accent-color: #0095B6; // Bondi blue

h1 {
    margin-bottom: 30px;
}

h2:after {
    content:' ';
    display:block;
    border:1px solid black;
    margin-top: 2px;
}

h3 {
    text-decoration: underline;
}

h4 {
    margin-bottom: -15px;
}

h5 {
    margin-top: -10px;
    margin-bottom: -15px;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: $accent-color;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding: 0 0 0 15px;;
}

blockquote {
    margin-left: 15px;
}

.accent {
    color: $accent-color
}
