@import "../_sass/resume_style.scss";
@import "../_sass/vars.scss";

body {
    font-family: $font-family;
    font-size: 11pt;
    margin: 30px;
}

@page {

    font-family: $font-family;
    font-size: 9pt;

    @top-center {
        content: url('../assets/icon.png');
        transform: scale(0.05);
    };

    @bottom-center {
        content: counter(page);
    };

    @top-left {
        content: 'latest update: <latest_update>';
        white-space: nowrap;
    };

    @top-right {
        content: 'Jan C. Brammer';
        white-space: nowrap;
    };

}