@import "../_sass/resume_style.scss";

body {
    font-family: Inconsolata;
    font-size: 11pt;
    margin: 30px;
}

@page {

    font-family: Inconsolata;
    font-size: 9pt;

    @top-center {
        content: url('../assets/banner.png');
        transform: scale(0.05);
    };

    @bottom-center {
        content: counter(page);
    };

    @top-left {
        content: 'latest update: <latest_update>';
        white-space: nowrap;
    };

    @top-right {
        content: 'Jan C. Brammer';
        white-space: nowrap;
    };

}